body {
    text-align: center;
    background: #4527A0;
  }
  
  h1 {
    padding: 10px;
    margin: 20px;
    color: #B39DDB;
    opacity: 0; /* Initially hidden */
  }
  
  /* Fade-in animation */
  .fadeIn {
    animation: fadeIn 2s ease-in forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  